@media only screen and  (min-width: 575px) and (max-width: 840px){
    .print-page {
        width: 51rem;
    }
    .non-container{
        padding: 0;
        margin: 0;
    }
    .total-padding {
        padding-left: 40rem;
    }
    .tax-details {
        display: block;
        align-items: center;
        color: #3A2316;
        padding-top: 96px;
        text-align: end;
    }
    .form-control {
        border-radius: 21px;
        border: 1px solid #2C2420;
        width: 100%;
        padding: 0.3rem 0.75rem;
    }
    .footer-section {
        background: #D5B698;
        width: 50.3rem;
        height: 19.96px;
        position: relative;
        left: -4px;
    }
    .text-padding {
        padding-top: 64px;
        padding-left: 37px;
    }
    
}